doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="/javascripts/main.js")
  body
    .container
      header
        h1 ShoutApp
      .main
        block content
