extends layout

block content
    a(href="/users") Back To Users
    h1 User Info
    ul 
        li Name:
            strong #{full_name}
        li Username:
            strong #{username}
        li Email Address:
            strong #{email}
        li User ID:
            strong #{id}
    div
        a(class="edituser" href="/edituser/#{username}") Edit User
        &nbsp;|&nbsp;
        a(class="deleteuser" href="#" data-user="#{username}") Delete User
    